<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="storyView.css" />
    <title>Story Page</title>
  </head>
  <body>
    <div id="project-page">
      <label class="switch">
        <input type="checkbox" id="theme-toggle" />
        <span class="slider round"></span>
      </label>
    </div>
    <script type="module" src="/src/views/storyView.ts"></script>
    <script src="/src/helpers/themeHelper.ts"></script>
  </body>
</html>
