@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Global styles */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

#header-container {
  margin-bottom: 20px;
  padding: 10px;
  text-align: center;
  background-color: #ffffff;
  border-bottom: 1px solid #ccc;
}

#stories-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#stories-container-todo,
#stories-container-doing,
#stories-container-done {
  background-color: #f7f7f7;
  display: flex;
  width: 30%;
  flex-direction: column;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

#stories-container-todo .kanban-column-title,
#stories-container-doing .kanban-column-title,
#stories-container-done .kanban-column-title {
  font-size: 18px;
  font-weight: bold;
  color: #3165eb;
  margin-bottom: 10px;
  text-align: center;
}

.story-item {
  padding: 15px;
  margin-bottom: 10px;
  background-color: #dfe4ea;
  display: block;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.2s ease;
  position: relative;
}

.story-item:hover {
  background-color: #c8d1e0;
  transform: translateY(-2px);
}

.story-item-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
  cursor: pointer;
}

.story-item-description,
.story-item-priority,
.story-item-assigned-user {
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
}

.story-item-priority {
  color: #333;
  font-weight: bold;
}

.story-item-assigned-user {
  color: #333;
}

.story-item-delete {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: red;
  color: white;
  border: 0;
  padding: 5px 10px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

.story-item-edit {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: #3165eb;
  color: white;
  border: 0;
  padding: 5px 10px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

#add-story-btn {
  width: 130px;
  margin-left: 20px;
  float: left;
  background-color: #3165eb;
  border: 0;
  height: 30px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  padding: 0 15px;
  margin-right: 10px;
}

#project-name-label {
  float: right;
  display: inline-block;
  font-weight: bold;
  font-size: 30px;
  color: #3165eb;
}

button:hover {
  cursor: pointer;
}

#add-form-modal,
#edit-form-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: none;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  position: relative;
}

.modal-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
}

.modal-overlay.show {
  display: flex;
}

.form-component {
  display: flex;
  flex-direction: column;
}

.form-component > * {
  margin-top: 20px;
}

.form-component > button {
  background-color: #3165eb;
  border: 0;
  height: 30px;
  width: 100%;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  padding: 0 15px;
  margin-right: 10px;
}

.form-component > input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 15px;
  transition: border-color 0.3s ease;
}

.form-component > select {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.3s;
}

.form-component > input:focus {
  outline: none;
  border-color: #3165eb;
  box-shadow: 0 0 5px rgba(49, 101, 235, 0.5);
}

.back-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  display: block;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.back-button:hover {
  background-color: #0056b3;
}
